@import "partials/variables";
@import "partials/home";

body {
    font-size: 40px;
}

@mixin main-background($color: beige) {
    font-size: 50px;
    padding: 30px;
    color: beige;
}

header {
    @include main-background($color: orange);
}

footer {
    @include main-background($color: green);
}

%msg-shared {
    border: 2px solid black;
    font-size: 30px;
    font-style: italic;
}


.success {
    @extend %msg-shared;
    color: green;
}

.error {
    @extend %msg-shared;
    color: red;
}

.warning {
    @extend %msg-shared;
    color: orange;
}